<h1 class ="card_title" >Cards</h1>
    <table class="card_table">
        <thead>
            <tr>
                <td>製品</td>
                <td>値段</td>
                <td>アマウント</td>
                <td>小計</td>
            </tr>
        <% @order_items.each do |item| %>
            <tr>
                <td><%= item.book.title %></td>
                <td><%= item.book.number_of_pages %>¥</td>
                <td><%= item.quantity.to_i %></td>
                <%= form_for item do |f| %>
                    <%= f.hidden_field :product_id, :value=> item.book.id %>    
                    <!-- <%= link_to "Remove Items", order_item_path(item), method: :delete %> -->
                    <% end %>
                <td><%= item.total %></td>
            </tr>
        <% end %>
        </thead>
    </table>
    <br>
    <h1 style="color: white; font-family:Arial, Helvetica, sans-serif !important ">合計: <%= current_order.subtotal%>￥ </h1>